<h4 class="public-header">Welcom <%= user.name %> This is all your stories</h4>
<a href="/dashboard">Back</a>
<div class="container card-container">

    <% if(typeof stories !== 'undefined') { %>
        <% stories.forEach(story => { %>           
            <div class="row">
                <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-image">
                        <%- editIcon(story.user, user, story._id )%>
                        <%- deleteIcon(story.user, user, story._id )%>
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title"><%= story.title%></span>
                        <br>
                        <p><%= story.body %></p>
                        <br>
                        <p><%= story.status %></p>
                    </div>
                    <div class="card-action">
                    <a href="">Owner:  <%= story.user.name  %> </a>
                    </div>
                    <div class="card-action">
                    <p><%= formatDate(story.createdAt, 'MMMM Do YYYY, h:mm:ss a')%></p>
                    </div>
                </div>
                </div>
            </div>
        <% }) %>
    <% } %>
    
</div>